@import '~bootstrap/scss/bootstrap';

.gi-form {
    &>div {
        position: relative;

        label {
            position: absolute;
            left: 13px;
            top: -15px;
            font-weight: bold;
            font-size: 18px;

            &[for="photo"] {
                left: 25px;
                top: -15px
            }
        }

    }
}

.overlay {
    transition: all .25s;

    .btn-modify {
        position: absolute;
        top: 15px;
        left: -35px;
        opacity: 0;
        transition: all .25s;

    }

    &:hover {
        .btn-modify {
            opacity: 1;
        }
    }
}