@import '~bootstrap/scss/bootstrap';

form {
    div {
        position: relative;

        label {
            position: absolute;
            left: 13px;
            top: -15px;
            font-weight: bold;
            font-size: 18px;

            &[for="photo"] {
                background-color: transparent;
                left: 25px;
                top: -15px
            }
        }

    }
}