@import '~bootstrap/scss/bootstrap';

.css-background {
    background-image: url(../../public/images/flat-lay-food-frame-with-salad-copy-space.jpg);
    background-size: cover;

}

.logo {
    width: 75px;

    img {
        border-radius: 10px;
    }
}

.bg-nav {
    background-color: rgba(217, 65, 65, 0.8);

    li>a {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

.main-gradient {
    background: -webkit-linear-gradient(325deg, #ec8232, #d03448);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.gi-form {
    &>div {
        position: relative;

        label {
            position: absolute;
            left: 13px;
            top: -15px;
            font-weight: bold;
            font-size: 18px;

            &[for="photo"] {
                left: 25px;
                top: -15px
            }
        }

    }
}

.overlay {
    position: relative;
    transition: all 0.5s;

    &-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 5%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.9) 95%);
        opacity: 0;
        transition: all 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-delete {
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0;
            transition: all .25s;
            z-index: 2;
            background-color: transparent;
            border: 0;
            color: white;
            font-size: 1rem;
        }

        .btn-modify {
            position: absolute;
            top: 10px;
            left: 10px;
            opacity: 0;
            transition: all .25s;
            z-index: 2;

            a {
                color: white;
                font-size: 1rem;
            }

        }

        &:hover {
            opacity: 1;

            .btn-modify {
                opacity: 1;
            }

            .btn-delete {
                opacity: 1;
            }
        }
    }

    .card-img-top {
        max-height: 205px;
    }
}

.glass-form {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(8px);
}